.flex{
 text-align: center;
}

button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #c5bebe;
    border: none;
   box-shadow: currentColor;
}
 button:hover{
    background-color: #001c35;
 }

 #Black:hover{
    background-color: #000000;

 }
 #yellow:hover{
    background-color: #ffff00;
    color: black;
 }
 #Red:hover{
    background-color: #ff0000;
    color: black;
 }
 #Green:hover{
    background-color: #008000;
    color: black;
 }
 #blue:hover{
    background-color: #0000ff;
    color: black;
 }